{% extends 'layout.html' %}

{% block contenido %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-6 bg-secondary rounded p-4" style="width: 45%;margin: 10px;">
			<h3 class="text-center">
			     Datos del Menú.
			</h3>
			<form role="form">
				<div class="form-group">

					<label for="m_nombre">
						Nombre.
					</label>
					<input type="Nombre" class="form-control" id="nmenu" />
				</div>

				<div class="row">
					<div class="col-md-12">
						<select name="select" class="btn btn-primary" style="margin-top: 15px;">
							<option selected>Elija una opcion</option>
							<option value="activo">Activo</option>
							<option value="inactivo">Inactivo</option>
						</select>
					</div>
				</div>

				<div class="form-group">

					<label for="m_descripcion">
						Descripción.
					</label>
					<input type="Descripcion" class="form-control" id="dmenu" />
				</div>

				<button type="submit" class="btn btn-primary" style="margin-top: 15px;">
					Guardar
				</button>
			</form>
		</div>
		<div class="col-md-6 bg-secondary text-center rounded p-4" style="width: 45%; margin: 10px;">
			<h3 class="text-center">
			    Registros del Menú.
			</h3>
			<table class="table">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Nombre.
						</th>
						<th>
							Estado.
						</th>
						<th>
							Descripción.
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>
{% endblock %}