{% extends 'layout.html' %}
{% block contenido %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-6 bg-secondary rounded p-4" style="width: 45%;margin: 10px;">
			<h3 class="text-center">
			     Datos generales.
			</h3>
			<form role="form">
				<div class="form-group">

					<label for="p_nombre">
						Nombre completo.
					</label>
					<input type="Nombre" class="form-control" id="nombre" />
				</div>
				<div class="form-group">

					<label for="p_apellido">
						Apellido completo.
					</label>
					<input type="Apellido" class="form-control" id="apellido" />
				</div>
				<div class="form-group">

					<label for="p_direccion">
						Dirección completa.
					</label>
					<input type="Direccion" class="form-control" id="direccion" />
				</div>
				<div class="form-group">

					<label for="p_telefono">
						Telefono.
					</label>
					<input type="Telefono" class="form-control" id="telefono" />
				</div>
				<div class="form-group">

					<label for="p_correo">
						Correo completo.
					</label>
					<input type="Correo" class="form-control" id="correo" />
				</div>
				<button type="submit" class="btn btn-primary" style="margin-top: 15px;">
					Guardar
				</button>
			</form>
		</div>
		<div class="col-md-6 bg-secondary text-center rounded p-4" style="width: 45%; margin: 10px;">
			<h3 class="text-center">
			    Registros de Datos Generales.
			</h3>
			<table class="table">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Nombre.
						</th>
						<th>
							Apellido.
						</th>
						<th>
							Dirección.
						</th>
						<th>
							Telefono.
						</th>
						<th>
							Correo.
						</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>
{% endblock %}